.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0px 0px;
}

hr {
  margin: 8px 10px;
  opacity: 40%;
}

.navLink {
  margin: 5px 20px;
  text-decoration: none;
}

h1 {
  font-size: 40px;
  font-family: cursive;
}
